<!-- Footer with copyright notice -->

<footer class='footer bg-dark py-3 mt-auto w-100'>
    <div class='container d-flex justify-content-center'>
        <span class='text-light'>&copy; Campsite 2024</span>
    </div>
</footer>

