<!-- Input field for searching campgrounds -->

<div class="row justify-content-center mb-3">
  <div class="col-md-6">
    <input
      type="text"
      id="searchInput"
      class="form-control"
      placeholder="Search Campgrounds"
    />
  </div>
</div>
